* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formDiv {
  width: 80%;
  margin: auto;
  border: black 2px solid;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  border: green 2px solid;
  font-weight: bold;
}
.removeBtn {
  border: red 2px solid;
  font-weight: bold;
}

.addBtn,
.removeBtn {
  color: white;
  font-size: 1rem;
  height: 30px;
  padding: 0px 5px;
  border-radius: 5px;
}
.addBtn {
  background-color: green;
}
.removeBtn {
  background-color: red;
}
.addBtn:hover,
.removeBtn:hover {
  border: black 2px solid;
  color: black;
}
.todoInput {
  background-color: white;
  font-size: 1rem;
  height: 26px;
}

.odd {
  background-color: lightblue;
}
.even {
  background-color: lightgreen;
}

.odd,
.even {
  width: 80%;
  margin: auto;
  margin-top: 5px;
  border: black 2px solid;
  border-radius: 5px;
  min-height: 50px;
}
.odd h2,
.even h2 {
  margin-left: 5px;
}

.errorDiv {
  display: none;
  height: 50px;
  width: 80%;
  margin: auto;
}
.errorMSG {
  background-color: red;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}
